<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aihelper.server.mapper.ChatMessageMapper">


    <insert id="insert">
        insert into chat_message(session_id, role, content)
        values (#{sessionId}, #{role}, #{content})
    </insert>
    <delete id="deleteBySessionId">
        delete from chat_message
        where session_id = #{sessionId}
    </delete>

    <select id="listBySessionId" resultType="com.example.aihelper.pojo.entity.ChatMessage">
        select * from chat_message
        where session_id = #{sessionId}
        order by create_time
    </select>
    <select id="listRecentBySessionId" resultType="com.example.aihelper.pojo.entity.ChatMessage">
        SELECT *
        FROM chat_message
        WHERE session_id = #{sessionId}
        ORDER BY id DESC
        LIMIT #{limit}
    </select>
</mapper>